liviate_api_key    = "your-api-key"
liviate_secret_key = "your-secret-key"
zone_id            = ""
kubernetes_version = "v1.36.0"
cluster_name       = "liviate-k8s-01"
node_count         = 3
service_offering   = "liviate-vcpu-2-4gb-20260317-01"
